body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

:root {
  --white-grad-1: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.bg-white-grad-1 {
  background: var(--white-grad-1);
}